@{
    Layout = null;
}
<style type="text/css">
    * {
        font-family: 'Segoe UI';
        font-size: 14px
    }

    .border-bottom {
        border-bottom: 1px solid black
    }

    .bold {
        font-weight: bold
    }
</style>

<hr style="margin-bottom:20px" />

<label>Kepada Yth</label><br />

<label style="color:indianred">Bapak / Ibu Kepala Divisi .....</label><br />

<div style="align-content:center;text-align:center;width:100%; margin-left: auto;
    margin-right: auto;">
    <h5 style="margin-left:30%;margin-right:30%; text-align:center;padding:10px;border:1px solid black">FORMULIR PERNYATAAN HAMIL</h5>
</div>

<label>Pada hari ini tanggal ...… bulan ………….……...… tahun ……...…, saya yang bertanda tangan dibawah ini :</label>

<div style="align-content:center;text-align:center;width:80%; margin-left: auto;
    margin-right: auto;margin-top:20px">

    <table cellpadding="0" cellspacing="0" style="width:70%;padding:10px;margin-left:10%;margin-right:20%;">
        <tbody>
            <tr>
                <td style="width:150px" class="bold">Nama <span style="float:right">:</span></td>
                <td class="border-bottom">&nbsp;</td>
            </tr>
            <tr>
                <td class="bold">No Reg <span style="float:right">:</span></td>
                <td class="border-bottom">&nbsp;</td>
            </tr>
            <tr>
                <td class="bold">Departemen <span style="float:right">:</span></td>
                <td class="border-bottom">&nbsp;</td>
            </tr>
            <tr>
                <td class="bold">Divisi <span style="float:right">:</span></td>
                <td class="border-bottom">&nbsp;</td>
            </tr>
        </tbody>
    </table>


</div>

<label style="margin-top:20px">Menyatakan diri dalam keadaan hamil, dengan kondisi sebagai berikut:</label>

<table cellpadding="0" cellspacing="0" style="width:100%;margin-top:20px">
    <tbody>
        <tr>
            <td style="width:200px">1. Usia kehamilan</td>
            <td>.... minggu, per tgl .....</td>
        </tr>
        <tr>
            <td>2. Perkiraan kelahiran menurut dokter (HPL) *</td>
            <td></td>
        </tr>
        <tr>
            <td>3. Memulai Serah Terima Pekerjaan</td>
            <td></td>
        </tr>

        <tr>
            <td>4. Mulai Cuti Melahirkan **</td>
            <td></td>
        </tr>

        <tr>
            <td>5. Kembali Bekerja</td>
            <td></td>
        </tr>
    </tbody>
</table>
<br>
<br>
<label class="bold">
    Ket: <br>
    * 	melampirkan surat keterangan dokter <br>
    **	melampirkan Formulir Permohonan Cuti Melahirkan yang sudah ditandatangani <br>
    *** 1,5 bulan adalah 45 hari kalender (Sabtu, minggu dan tanggal merah masuk hitungan)
</label>
<br><br>
Demikian pernyataan ini saya buat dengan sebenarnya, untuk dilakukan proses selanjutnya.

<br /><br /><br />

<table border="1" cellpadding="5" cellspacing="0" style="width:100%;border-collapse:collapse">
    <tbody>
        <tr>
            <td style="text-align:center;width:100px">Div. H</td>
            <td style="text-align:center;width:100px">Dept. H</td>
            <td style="text-align:center;width:100px">Sect. H</td>
            <td style="text-align:center;width:100px">Karyawan</td>
        </tr>
        <tr style="height:70px">
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Nama</td>
            <td>Nama</td>
            <td>Nama</td>
            <td>Nama</td>
        </tr>
        <tr>
            <td>Tgl</td>
            <td>Tgl</td>
            <td>Tgl</td>
            <td>Tgl</td>
        </tr>
    </tbody>
</table>

<br /><br />
<label class="bold">Validasi HR</label>
<br />
<table border="1" cellpadding="5" cellspacing="0" style="width:75%;border-collapse:collapse">
    <tbody>
        <tr>
            <td style="text-align:center;width:100px">HR-Data Centre</td>
            <td style="text-align:center;width:100px">Industrial Relations</td>
            <td style="text-align:center;width:100px">Admin Divisi</td>
        </tr>
        <tr style="height:70px">
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Nama</td>
            <td>Nama</td>
            <td>Nama</td>
        </tr>
        <tr>
            <td>Tgl</td>
            <td>Tgl</td>
            <td>Tgl</td>
        </tr>
    </tbody>
</table>
