
@{
    Layout = null;
}


<style type="text/css">
    .border-bottom {
        border-bottom: 1px solid black
    }

    .border-top {
        border-top: 2px solid black
    }

    .bold {
        font-weight: bold
    }
</style>

<table border="0" cellspacing="4" cellpadding="2" style="width: 100%; font-family:'Segoe UI'; font-size:12px">
    <colgroup>
        <col style="width: 30px">
        <col style="width: 100px">
        <col style="width: 300px">
        <col style="width: 100px">
    </colgroup>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr style="height:50px">
        <th colspan="4"><p style="font-size:18px">FORM KEHILANGAN DAN PENGGANTIAN</p></th>
    </tr>
    <tr>
        <td></td>
        <td>No Reg<label style="float:right">:</label></td>
        <td class="border-bottom"></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>Nama<label style="float:right">:</label></td>
        <td class="border-bottom"></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>Divisi<label style="float:right">:</label></td>
        <td class="border-bottom"></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>Departemen<label style="float:right">:</label></td>
        <td class="border-bottom"></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>Seksi<label style="float:right">:</label></td>
        <td class="border-bottom"></td>
        <td></td>
    </tr>

    <tr style="height:30px">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="4">Menerangkan bahwa,</td>
    </tr>
    <tr>
        <td>
            <table style="width:100%" border="1" cellpadding="1" cellspacing="0">
                <tr>
                    <td style="width:100%">&nbsp;</td>
                </tr>
            </table>
        </td>
        <td colspan="3">Kehilangan Kartu :</td>
    </tr>
    <tr>
        <td></td>
        <td colspan="2" style="padding-left:50px">Absensi atau ID Card / Jamsostek / Asuransi</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td colspan="2" style="padding-left:50px">Pada Tanggal : </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td colspan="2" style="padding-left:50px">Lokasi Kehilangan : </td>
        <td></td>
    </tr>
    <tr style="height:30px">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>
            <table style="width:100%" border="1" cellpadding="1" cellspacing="0">
                <tr>
                    <td style="width:100%">&nbsp;</td>
                </tr>
            </table>
        </td>
        <td colspan="3">Kartu Absen dan ID Card Saya Rusak :</td>
    </tr>
    <tr>
        <td></td>
        <td colspan="2" style="padding-left:50px">Alasan Kerusakan ......</td>
        <td></td>
    </tr>
   
    <tr style="height:30px">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>
            <table style="width:100%" border="1" cellpadding="1" cellspacing="0">
                <tr>
                    <td style="width:100%">&nbsp;</td>
                </tr>
            </table>
        </td>
        <td colspan="3">Kehilangan Surat Keterangan :</td>
    </tr>
    <tr>
        <td></td>
        <td colspan="2" style="padding-left:50px">Jenis Surat Keterangan......</td>
        <td></td>
    </tr>
   
    <tr style="height:30px">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>


    <tr>
        <td colspan="4">
            Dengan ini saya lampirkan surat keterangan kehilangan dari kantor kepolisian ........., sehubungan dengan hal tersebut kami mohon bantuan HRD untuk penggantian kartu / surat keterangan * yang baru.
        </td>
    </tr>

    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="4">Jakarta, ......<br></td>
    </tr>
    <tr>
        <td colspan="4">Hormat Saya,<br></td>
    </tr>
    <tr>
        <td colspan="4" height="10px">
            
        </td>
    </tr>
</table>

<table style="width:100%; font-family:'Segoe UI'; font-size:12px;margin:0px; font-size:12px" cellspacing="50">
    <tr>
        <td align="center" style="width:25%" class="border-top">Pemohon</td>
        <td align="center" style="width:50%">&nbsp;</td>
        <td align="center" style="width:25%"  class="border-top">Mengetahui Division Head</td>
    </tr>
    <tr>
        <td colspan="3">Note : Coret yang tidak perlu.</td>
    </tr>
</table>