
@{
    Layout = null;
}


<style type="text/css">
    .border-bottom {
        border-bottom: 1px solid black
    }

    .border-top {
        border-top: 2px solid black
    }

    .bold {
        font-weight: bold
    }
</style>
<hr style="margin-bottom:50px;" />

<h3 style="text-align:center; height:10px"><u>PERMOHONAN TUNJANGAN PENGOBATAN</u></h3>
<h3 style="text-align:center; height:10px">ALLOWANCE INPUT</h3>


<table class="tableizer-table" border="1" cellpadding="0" cellspacing="0" style="width:100%;border-collapse:collapse">
    <thead>
        <tr class="tableizer-firstrow">
            <td style="width:5%" align="center" > NO</td>
            <td style="width:10%" align="center" > NOREG</td>
            <td style="width:20%" align="center" >NAMA</td>
            <td style="width:20%" align="center" >PENGOBATAN UNTUK SENDIRI/ISTRI/ANAK</td>
            <td style="width:8%" align="center" >BIAYA (RP)</td>
            <td style="width:20%" align="center" >KETERANGAN</td>
        </tr>
        <tr>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td colspan="4" align="right">JUMLAH&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </tbody>
</table>
<p>&nbsp;</p>

<table>
    <tr>
        <td>Jakarta,</td>
        <td class="border-bottom" style="width:200px"></td>
    </tr>
</table>

<table style="width:100%; font-family:'Segoe UI'; margin:0px;" cellspacing="0">
    <tr>
        <td style="width:40%">
            <table border="1" cellpadding="0" cellspacing="0">
                <tr>
                    <td colspan="2" align="center">Pemohon</td>
                </tr>
                <tr>
                    <td style="width:150px" align="center">Karyawan Ybs</td>
                    <td style="width:150px" align="center">Sekretaris</td>
                </tr>
                <tr>
                    <td height="100px" style="width:150px"></td>
                    <td height="100px" style="width:150px"></td>
                </tr>
                <tr>
                    <td height="25px" style="width:150px"></td>
                    <td height="25px" style="width:150px"></td>
                </tr>
            </table>
        </td>

        <td style="width:10%"></td>

        <td style="width:50%">
            <table align="center" border="1" cellpadding="0" cellspacing="0">
                <tr>
                    <td colspan="2" align="center">HRD</td>
                </tr>
                <tr>
                    <td style="width:150px" align="center">Diperiksa</td>
                    <td style="width:150px" align="center">Diterima</td>
                </tr>
                <tr>
                    <td height="100px" style="width:150px"></td>
                    <td height="100px" style="width:150px"></td>
                </tr>
                <tr>
                    <td height="25px" style="width:150px"></td>
                    <td height="25px" style="width:150px"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>