<div class="row">
    <div class="col-xl-3 col-lg-3 col-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="align-self-center">
                            <i class="icon-pencil font-blue font-large-2 float-left"></i>
                        </div>
                        <div class="media-body text-right">
                            <h3>278</h3>
                            <span>New Posts</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="align-self-center">
                            <i class="icon-speech font-yellow font-large-2 float-left"></i>
                        </div>
                        <div class="media-body text-right">
                            <h3>156</h3>
                            <span>New Comments</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="align-self-center">
                            <i class="icon-graph font-green font-large-2 float-left"></i>
                        </div>
                        <div class="media-body text-right">
                            <h3>64.89 %</h3>
                            <span>Bounce Rate</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="align-self-center">
                            <i class="icon-pointer font-red font-large-2 float-left"></i>
                        </div>
                        <div class="media-body text-right">
                            <h3>423</h3>
                            <span>Total Visits</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Information</h4>
                <a class="heading-elements-toggle">
                    <i class="ft-ellipsis-h font-medium-3"></i>
                </a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li>
                            <a data-action="collapse">
                                <i class="ft-minus"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <span class="description"><b class="font-red">Rio Pardhitya</b> anda termasuk golongn karyawan <b class="font-red">Kelas B</b>. Jika anda melengkapi form <b class="font-red">Pernikahan</b>, maka terdapat perubahan data &amp; tunjangan sebagai berikut:</span>
                    <ul class="list-style-icons margin-top-10">
                        <li>
                            <i class="fa fa-plus font-green-turquoise"></i> Mendapatkan tunjangan pernikahan sebesar <b class="font-red">Rp 19.000.000</b>
                        </li>
                        <li>
                            <i class="fa fa-plus font-green-turquoise"></i> Perubahan status pajak dari <b class="font-red">TK0</b> menjadi <b class="font-red">K0</b>
                        </li>
                        <li>
                            <i class="fa fa-plus font-green-turquoise"></i> Perubahan jumlah BPK menjadi <b class="font-red">Rp 729.000</b>
                        </li>
                        <li>
                            <i class="fa fa-plus font-green-turquoise"></i> Mendapatkan member <b class="font-red">BPJS</b>
                        </li>
                        <li>
                            <i class="fa fa-plus font-green-turquoise"></i> Mendapatkan member asuransi <b class="font-red">AVIVA</b>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Marriage Form</h4>
                <a class="heading-elements-toggle">
                    <i class="ft-ellipsis-h font-medium-3"></i>
                </a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li>
                            <a data-action="collapse">
                                <i class="ft-minus"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>NIK</label>
                                <input type="text" class="form-control" placeholder="Please input NIK">
                            </div>
                            <div class="form-group">
                                <label>Country of Birth</label>
                                <input type="text" class="form-control" placeholder="Please input Country of Birth">
                            </div>
                            <div class="form-group">
                                <label>Nationality</label>
                                <div class="mt-radio-list">
                                    <label class="mt-radio green mt-radio-outline">
                                        WNI
                                        <input type="radio" value="wni" name="Nationality">
                                        <span></span>
                                    </label>
                                    <label class="mt-radio green mt-radio-outline">
                                        WNA
                                        <input type="radio" value="wna" name="Nationality">
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Religion</label>
                                <div class="mt-radio-list">
                                    <label class="mt-radio green mt-radio-outline">
                                        Islam
                                        <input type="radio" value="islam" name="Religion">
                                        <span></span>
                                    </label>
                                    <label class="mt-radio green mt-radio-outline">
                                        Kristen Protestan
                                        <input type="radio" value="kristen" name="Religion">
                                        <span></span>
                                    </label>
                                    <label class="mt-radio green mt-radio-outline">
                                        Katolik
                                        <input type="radio" value="katolik" name="Religion">
                                        <span></span>
                                    </label>
                                    <label class="mt-radio green mt-radio-outline">
                                        Hindu
                                        <input type="radio" value="hindu" name="Religion">
                                        <span></span>
                                    </label>
                                    <label class="mt-radio green mt-radio-outline">
                                        Budha
                                        <input type="radio" value="budha" name="Religion">
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Spouse Name</label>
                                <input type="text" class="form-control" placeholder="Please input Spouse Name">
                            </div>
                            <div class="form-group">
                                <label>Birth Place</label>
                                <input type="text" class="form-control" placeholder="Please input Birth Place">
                            </div>
                            <div class="form-group">
                                <label>Gender</label>
                                <div class="mt-radio-list">
                                    <label class="mt-radio green mt-radio-outline">
                                        Male
                                        <input type="radio" value="male" name="Gender">
                                        <span></span>
                                    </label>
                                    <label class="mt-radio green mt-radio-outline">
                                        Female
                                        <input type="radio" value="female" name="Gender">
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Blood Rhesus</label>
                                <div class="mt-radio-list">
                                    <label class="mt-radio green mt-radio-outline">
                                        A
                                        <input type="radio" value="A" name="BloodRhesus">
                                        <span></span>
                                    </label>
                                    <label class="mt-radio green mt-radio-outline">
                                        B
                                        <input type="radio" value="B" name="BloodRhesus">
                                        <span></span>
                                    </label>
                                    <label class="mt-radio green mt-radio-outline">
                                        AB
                                        <input type="radio" value="AB" name="BloodRhesus">
                                        <span></span>
                                    </label>
                                    <label class="mt-radio green mt-radio-outline">
                                        O
                                        <input type="radio" value="O" name="BloodRhesus">
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Remarks</h4>
                <a class="heading-elements-toggle">
                    <i class="ft-ellipsis-h font-medium-3"></i>
                </a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li>
                            <a data-action="collapse">
                                <i class="ft-minus"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <div class="form-group">
                        <textarea class="form-control" rows="5" placeholder="Please input Remarks Detail"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Send Form Submission?</h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-primary btn-block">Yes</button>
                        </div>
                        <div class="col">
                            <button class="btn btn-outline red btn-block">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Approval History</h4>
                <a class="heading-elements-toggle">
                    <i class="ft-ellipsis-h font-medium-3"></i>
                </a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li>
                            <a data-action="collapse">
                                <i class="ft-minus"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <div class="mt-comments mt-comments-bordered">
                        <div class="mt-comment">
                            <div class="mt-comment-img">
                                <img src="img/default-avatar.jpeg" style="width: 45px; height: 55px;">
                            </div>
                            <div class="mt-comment-body">
                                <div class="mt-comment-info">
                                    <span class="mt-comment-author">Keke Mulia Rahmawati</span>
                                    <span class="mt-comment-status">
                                        <span class="label label-primary">submit</span>
                                    </span>
                                    <span class="mt-comment-sub-info">Administration System Dev. SH</span>
                                    <span class="mt-comment-time">
                                        <i class="fa fa-clock-o"></i> 17 Apr 2018 at 02:16:22
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="mt-comment">
                            <div class="mt-comment-img">
                                <img src="img/default-avatar.jpeg" style="width: 45px; height: 55px;">
                            </div>
                            <div class="mt-comment-body">
                                <div class="mt-comment-info">
                                    <span class="mt-comment-author">Wilbertus Darmadi</span>
                                    <span class="mt-comment-status">
                                        <span class="label label-success">approved</span>
                                    </span>
                                    <span class="mt-comment-sub-info">Information System Division Head</span>
                                    <span class="mt-comment-time">
                                        <i class="fa fa-clock-o"></i> 17 Apr 2018 at 02:16:22
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="mt-comment">
                            <div class="mt-comment-img">
                                <img src="img/default-avatar.jpeg" style="width: 45px; height: 55px;">
                            </div>
                            <div class="mt-comment-body">
                                <div class="mt-comment-info">
                                    <span class="mt-comment-author">Darmawan Halim</span>
                                    <span class="mt-comment-status">
                                        <span class="label label-danger">rejected</span>
                                    </span>
                                    <span class="mt-comment-sub-info">HR &amp; Finance Director</span>
                                    <span class="mt-comment-time">
                                        <i class="fa fa-clock-o"></i> 17 Apr 2018 at 02:16:22
                                    </span>
                                </div>
                                <div class="mt-comment-text"> Di rejcet di reject aja tolong benerin dong requestnya </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Submission History</h4>
                <a class="heading-elements-toggle">
                    <i class="ft-ellipsis-h font-medium-3"></i>
                </a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li>
                            <a data-action="collapse">
                                <i class="ft-minus"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Username</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@@twitter</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>