<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Detail Claim Bensin COP</h4>
                <a class="heading-elements-toggle">
                    <i class="ft-ellipsis-h font-medium-3"></i>
                </a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li>
                            <a data-action="collapse">
                                <i class="ft-minus"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <fieldset>
                                    <legend>Data Claim</legend>
                                    <div class="form-group">
                                        <label>Tanggal 01/01/2018</label><br />
                                        <label>Tujuan A</label><br />
                                        <div class="row"><label class="col-md-4">KM Berangkat</label><a href="#">km_berangakatanA.png</a><br /></div>
                                        <div class="row"><label class="col-md-4">KM Kembali</label><a href="#">km_berangakatanA.png</a><br /></div>
                                        <label>Total Pemakaian</label><br />
                                        <label>Keperluan</label><br />
                                    </div>
                                    <div class="form-group">
                                        <label>Tanggal 01/02/2018</label><br />
                                        <label>Tujuan B</label><br />
                                        <div class="row"><label class="col-md-4">KM Berangkat</label><a href="#">km_berangakatanB.png</a><br /></div>
                                        <div class="row"><label class="col-md-4">KM Kembali</label><a href="#">km_berangakatanB.png</a><br /></div>
                                        <label>Total Pemakaian</label><br />
                                        <label>Keperluan</label><br />
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <fieldset>
                                    <legend>Catatan</legend>
                                    <div class="form-group">
                                        <label>Detail Catatan</label>
                                        <br />
                                        <label>User : Catatan User</label>
                                        <textarea class="form-control"></textarea>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="row">
                        <div class="offset-md-3 col-md-9 col-sm-9 offset-sm-3">
                            <div class="float-right">
                                <button class="btn btn-primary">Sumbit</button>
                                <button class="btn btn-danger">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>