<ul id="subordinates-filter" class="page-toolbars" data-role="filter">
    <li>
        <a class="font-purple-plum" data-trigger="handler" data-handler="filterHandler">
            <i class="icon-magnifier"></i>
        </a>
        <input type="text" class="search-input hidden" data-trigger="filter" data-operator="or" data-filters='["NoReg", "Name", "PostName", "Division", "Department", "Section"]' />
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle font-green-haze" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-sort-amount-desc"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li>
                <a data-trigger="filter" data-sort="NoReg">No Reg.</a>
            </li>
            <li>
                <a data-trigger="filter" data-sort="Name">Name</a>
            </li>
            <li>
                <a data-trigger="filter" data-sort="Division">Division</a>
            </li>
            <li>
                <a data-trigger="filter" data-sort="Department">Department</a>
            </li>
            <li>
                <a data-trigger="filter" data-sort="Section">Section</a>
            </li>
            <li class="dropdown-divider"></li>
            <li class="p-2">
                <a class="btn red" data-trigger="filter" data-clear="sort">Clear</a>
            </li>
        </ul>
    </li>
</ul>