<!-- Views/Home/Index.cshtml -->
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about scheduling jobs with Hangfire!</p>
    <a asp-action="SetupJob" class="btn btn-primary">Setup Job</a>
    <a asp-action="ListJob" class="btn btn-secondary">List Jobs</a>
</div>
