@{
    Layout = "~/Views/Shared/_MaintenanceLayout.cshtml";
    ViewData["Title"] = "Index";
}
<section class="flexbox-container">
    <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="col-md-4 col-10 box-shadow-2 p-0">
            <div class="card border-grey border-lighten-3 m-0">
                <div class="card-header border-0">
                    <div class="card-title d-block text-center">
                        <div class="p-1">
                            <a href="~/"><img src="~/img/logo/ico-logo1.png" alt="branding logo"></a>
                        </div>
                    </div>
                    <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-3 bold"><span>Welcome to e-Form</span></h6>
                </div>
                <div class="card-content">
                    <div class="card-body text-center">
                        <h3 class="font-medium-3">This page is under maintenance</h3>
                        <p class="mt-0 font-small-3">
                            We're sorry for the inconvenience.
                            <br> Please check back later.
                        </p>
                        <div class="mt-2">
                            <i class="fa fa-cog spinner font-large-2" style="line-height: 2.8rem"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>