<ul class="page-toolbars">
    <li>
        <a class="font-normal font-purple-plum">
            <i class="icon-magnifier"></i>
        </a>
    </li>
    <li class="dropdown dropdown-arrow">
        <a class="font-normal dropdown-toggle font-green-haze" data-toggle="dropdown" aria-expanded="true">
            <i class="fa fa-sort-amount-desc"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li>
                <a href="javascript:;">Most Popular</a>
            </li>
            <li>
                <a href="javascript:;">Most Viewed</a>
            </li>
            <li>
                <a href="javascript:;">Date Created</a>
            </li>
            <li>
                <a href="javascript:;">Sticky</a>
            </li>
        </ul>
    </li>
    <li class="dropdown dropdown-arrow">
        <a class="dropdown-toggle font-blue-sharp" data-toggle="dropdown" aria-expanded="true">
            <i class="fa fa-filter"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li>
                <a href="javascript:;">Sticky</a>
            </li>
        </ul>
    </li>
</ul>