html {
  font-size: 100%;
}

@media (max-width: 800px) {
    html {
        font-size: 90%;
    }
}

@media (max-width: 736px) {
    html {
        font-size: 86%;
    }
}

body {
  background-color: #f2f3f8;
}

.page-container {
  margin-top: 3.5rem;
  width: 100%;
  min-height: 100%;
}

header.navbar.fixed-top, header.navbar.static-top {
  z-index: 999;
}

header.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 3.5rem;
  padding: 0;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  box-shadow: 0 1px 10px 0 rgba(50,50,50,.2);
  background: #fff;
}

.vertical-layout header.navbar .navbar-brand {
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
  height: 3.5rem;
  width: 15rem;
  padding: 0 .5rem 0 1rem;
  margin: 0;
  background-color: #EF3F3F;
}

.navbar-brand > a {
  color: hsla(0,0%,100%,.87);
}

.navbar-brand > a > img {
  height: 32px;
}

.navbar-top, .navbar-top .navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar-top {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.navbar-top .navbar-menu {
  margin-left: auto;
}

@media (min-width: 768px) {
  .vertical-layout header.navbar .navbar-brand {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
  }
}

header.navbar .menu-toggler.sidebar-toggler {
  margin-right: 5px;
}

header.navbar .menu-toggler {
  display: block;
  cursor: pointer;
  opacity: .89;
  filter: alpha(opacity=89);
  width: 20px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: center center;
}

header.navbar .menu-toggler {
  background-image: url(../img/sidebar-toggle.png);
}

header.navbar .menu-toggler:hover {
  filter: alpha(opacity=100);
  opacity: 1;
}

.navbar-actions {
  margin-left: 20px;
  position: relative;
}

.navbar-menu .nav {
  padding: 0;
  margin-right: 20px;
}

.dropdown-notification, .dropdown-inbox, .dropdown-tasks {
  position: relative;
}

.nav .dropdown-toggle, .nav > .dropdown-toggle, .nav .nav-item a {
  padding: 1.1rem .75rem 0.9rem .75rem;
  margin: 0;
  opacity: .7;
  border-radius: .2rem;
  display: block;
}

.nav.nav-tabs .nav-item a {
    opacity: 1;
}

.nav .nav-item.selected a {
  background: #F3F5FB;
  opacity: 1;
  border-radius: 0;
}

.nav .dropdown-toggle::after, .nav > .dropdown-toggle::after {
  display: none;
}

.nav .dropdown-language > a {
    font-size: 0.85rem;
    padding: 1.11rem .75rem;
}

.nav .dropdown-language .dropdown-toggle::after, .nav .dropdown-user.avatar-left .dropdown-toggle::after {
  display: inline-block;
}

.navbar .navbar-menu .nav > li.dropdown {
  margin: 0;
  padding: 0;
}

.navbar .navbar-menu .nav > li.dropdown.show > .dropdown-toggle,
.navbar .navbar-menu .nav > li.dropdown > .dropdown-toggle:hover {
  background-color: #f9fafc;
  text-decoration: none;
  border-radius: 0;
}

.navbar .navbar-menu .nav > li.dropdown-user .dropdown-toggle > .username {
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 600;
}

.navbar .navbar-menu .nav > li.dropdown-user .dropdown-toggle > img {
  margin-top: -1px;
  width: 1.6rem;
  height: 1.75rem;
}

.navbar .navbar-menu .nav > li.dropdown-user.avatar-right .dropdown-toggle > img {
  margin-left: 5px;
  float: right;
}

.navbar .navbar-menu .nav > li.dropdown-user.avatar-left .dropdown-toggle > img {
  margin-right: 0;
  float: left;
}

.navbar .navbar-menu .nav > li.dropdown > .dropdown-toggle > .badge {
  display: inline-block;
  font-family: 'Open Sans', 'Noto Sans';
  margin: -6px 0 0;
  font-weight: 600;
  padding: 0.1875rem 0.375rem;
  position: absolute;
  top: 15px;
  right: 0.375rem;
}

.page-content-wrapper {
  margin-top: 0;
  overflow: hidden;
  min-height: 600px;
}

.page-content {
  margin-top: 0;
  padding: 0;
}

@media (min-width: 992px) {
  .page-content-wrapper .page-content {
    margin-left: 15rem;
    margin-top: 0;
    min-height: 600px;
    padding: 15px 20px 10px;
  }
}

.page-head {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-head > .page-title {
  margin-right: auto;
}

.page-head > ul.page-toolbars {
    margin-left: auto;
    font-size: 1.2rem;
    padding: 0 0 0.4375rem 1.25rem;
}

.page-head > ul.page-toolbars > li > a {
    position: relative;
    top: 2px;
}

.page-head h1.separator {
  border-right: solid thin rgba(148,170,197,.2);
  margin-right: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #373A3C;
}

.page-head h1 {
  margin: 0;
  font-size: 1.375rem;
  color: #4d5a68;
  display: inline-block;
  padding: 0.4375rem 1.25rem 0.4375rem 0;
}

.page-body {
  padding-top: 1rem;
}

.navbar .navbar-menu .nav > li.dropdown-extended .dropdown-menu {
  min-width: 10rem;
  max-width: 17.1875rem;
  width: 17.1875rem;
  z-index: 9995;
}

.navbar-menu .nav > li.dropdown .dropdown-menu {
  margin-top: -0.375rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  border-radius: 0.25rem;
}

.navbar .navbar-menu .nav > li.dropdown .dropdown-menu:before {
  position: absolute;
  top: -7px;
  right: 9px;
  display: inline-block!important;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #eee;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0,0,0,.2);
  border-bottom-color: #e4e8ee;
  content: '';
}

.dropdown-menu:after, .dropdown-menu:before {
  display: none!important;
}

.navbar-menu .nav > li.dropdown-extended .dropdown-menu > li.external {
  display: block;
  overflow: hidden;
  padding: 0.9375rem;
  letter-spacing: .5px;
  line-height: 1;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

.navbar .navbar-menu .nav > li.dropdown-extended .dropdown-menu > li.external > h3 {
  margin: 0;
  padding: 0;
  font-size: 0.8125rem;
  display: inline-block;
}

.navbar .navbar-menu .nav > li.dropdown-extended .dropdown-menu > li.external > a {
  display: inline-block;
  padding: 0;
  background: 0 0;
  clear: inherit;
  font-size: 0.8125rem;
  font-weight: 300;
  position: absolute;
  right: 0.625rem;
  border: 0;
  color: #337ab7;
}

.navbar .navbar-menu .nav > li.dropdown .dropdown-menu:after {
  position: absolute;
  top: -6px;
  right: 10px;
  display: inline-block!important;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
  content: '';
}

.navbar .navbar-menu .nav > li.dropdown-extended .dropdown-menu > li.external {
  background: #eaedf2;
}

.nav.pull-right > li > .dropdown-menu, .nav > li > .dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.navbar .navbar-menu .nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list {
  padding-right: 0!important;
  padding-left: 0;
  list-style: none;
}

.navbar .navbar-menu .nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list .progress {
  margin-top: 0.625rem;
  height: 0.625rem;
  width: 85%;
}

.navbar .navbar-menu .nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list .progress-detail {
  position: absolute;
  bottom: 0.8125rem;
  right: 1.25rem;
  font-size: 0.6875rem;
  display: block;
}

.navbar .navbar-menu .nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li:first-child a {
  border-top: none;
}

.navbar .navbar-menu .nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li > a {
  border-bottom: 1px solid #EFF2F6!important;
  color: #888;
}

.navbar .navbar-menu .nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li > a {
  display: block;
  clear: both;
  font-weight: 300;
  line-height: 1.25rem;
  white-space: normal;
  font-size: 0.8125rem;
  padding: 1rem 0.9375rem 1.125rem;
  text-shadow: none;
}

.navbar .navbar-menu .nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li a .time {
  float: right;
  max-width: 75px;
  font-size: 11px;
  font-weight: 400;
  opacity: .7;
  filter: alpha(opacity=70);
  text-align: right;
  padding: 1px 5px;
}

.navbar .navbar-menu .nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li a .details {
  overflow: hidden;
}

.navbar .navbar-menu .nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li a .details .label-icon {
  margin-right: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.navbar .navbar-menu .nav > li.dropdown-extended .dropdown-menu:after {
  border-bottom-color: #eaedf2;
}

.navbar .navbar-menu .nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li >a:hover {
  background: #f8f9fa;
}

.navbar .navbar-menu .nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li a .details .label-icon i {
  margin-right: 2px;
  margin-left: 1px;
}

.navbar .navbar-menu .nav > li.dropdown-user .dropdown-menu > li > a {
  font-size: 0.875rem;
  font-weight: 300;
}

.navbar .navbar-menu .nav > li.dropdown .dropdown-menu > li > a {
  color: #555;
}

.navbar .navbar-menu .nav > li.dropdown-user .dropdown-menu > li > a i {
  width: 0.9375rem;
  display: inline-block;
  margin-right: 0.5625rem;
}

.navbar .navbar-menu .nav > li.dropdown-user .dropdown-menu > li > a .badge {
  margin-right: 10px;
}

@media (max-width: 767.98px) {
  html body .page-content-wrapper .page-content {
      padding: 1rem;
  }
}

header.navbar.navbar-brand-center .navbar-header {
  width: 192px;
  position: absolute;
  left: 50%;
  padding: 0;
  margin: 0;
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  -o-transform: translate(-50%,0);
  transform: translate(-50%,0);
  z-index: 999;
}

header.navbar.navbar-brand-center .navbar-brand {
  background: none !important;
}

header.navbar .navbar-header {
  width: 260px;
  float: left;
  position: relative;
  padding: 0 .85rem;
  transition: .3s ease all;
}

header.navbar .nav-item + .nav-item {
  margin-left: 0rem;
}

header.navbar.navbar-brand-center .navbar-nav li {
  line-height: 1;
  text-align: center;
}

header.navbar .navbar-header .navbar-brand {
  padding: 0.68rem 0;
  margin-right: 0;
}

header.navbar .navbar-header .navbar-brand .brand-logo {
  width: 2.2rem;
}

header.navbar .navbar-header .navbar-brand .brand-text {
  display: inline;
  font-weight: 500;
  vertical-align: middle;
}

.navbar-brand-center .navbar-brand .brand-text {
  font-size: 1.45rem;
}

.fixed-menu {
  position: fixed;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  z-index: 998;
  background: #FFFFFF;
  /* background: #F3F5FB; */
  /*opacity: 0.95;*/
  padding-bottom: 100px;
}

.fixed-menu .container {
  margin-top: 35px;
}

.fixed-menu-open header.navbar {
  box-shadow: none;
}

.profpic {
  background-color: #eaedf2;
  padding: 1rem;
  color: #000;
  font-family: 'Open Sans';
}

.profpic .profpic-wrapper {
  display: table;
  table-layout: fixed;
}

.profpic .profpic-wrapper .profpic-avatar {
  width: auto;
  display: inline-block;
  display: table-cell;
  vertical-align: middle;
  border-radius: 50%;
}

.profpic .profpic-wrapper .profpic-body {
  display: table-cell;
  vertical-align: middle;
  padding-left: 0.625rem;
}

.profpic-body .profpic-title {
  display: block;
  font-size: 0.9rem;
  font-weight: bold;
}

.profpic-body .profpic-description {
  display: block;
  font-size: 0.82rem;
}

.navbar .navbar-menu .nav > li.dropdown-user .dropdown-menu:after {
  border-bottom-color: #eaedf2;
}

.navbar .notification-content li > a > span > b {
    font-weight: bold;
    color: #EF3F3F;
}

.row[class*=row-col-separator-] {
    margin-left: 0;
    margin-right: 0;
}

.row[class*=row-col-separator-] > div {
    border-bottom: 1px solid #ebedf2;
}

.row[class*=row-col-separator-] > div:last-child {
    border-bottom: 0;
}

@media (min-width: 800px) {
    .row.row-col-separator-xl > div {
        border-bottom: 0;
        border-right: 1px solid #ebedf2;
        padding: 0;
    }

    .row.row-col-separator-xl > div:last-child {
        border-right: 0;
    }
}

.m-widget {
    padding: 0 1.25rem 1.25rem 1.25rem;
}

.m-widget-desc {
    color: #9699a2;
}

.m-widget:first-child {
    padding-top: 1.2rem;
}

.m-widget .m-widget-item {
    padding: 1.1rem 0;
    border-bottom: .07rem dashed #ebedf2;
}

.m-widget .m-widget-item:last-child {
    padding-bottom: 0;
    border-bottom: 0;
}

.m-widget .m-widget-header .m-widget-title {
    font-size: 1.12rem;
    font-weight: 600;
    margin-bottom: 0;
    color: #575962;
}

.m-widget .m-widget-header, .m-widget .m-widget-header .m-widget-title {
    padding: 0;
    margin: 0;
}

.m-widget .m-widget-header .m-widget-desc {
    display: inline-block;
    margin-top: .2rem;
    font-size: 0.9rem;
}

@media (min-width: 768px)
{
    .position-md-sticky {
        position: sticky;
        top: 11%;
        display: block;
    }
}
