<ul id="printout-matrices-filter" class="page-toolbars" data-role="filter">
    <li>
        <a class="font-purple-plum" data-trigger="handler" data-handler="filterHandler">
            <i class="icon-magnifier"></i>
        </a>
        <input type="text" class="search-input hidden" data-trigger="filter" data-operator="or" data-filters='["Approver" , "ApproverType", "FormTitle", "SubType", "ApproverLocation"]' />
    </li>
</ul>