<script data-template="term-and-conditions" type="text/template">
    <table class="table table-borderless table-nopadding">
        <tbody>
            <tr>
                <td style="width: 12rem!important;">@Localizer["Name"]</td>
                <td>: #: $.toDefault(Object.PartnerName, '-') #</td>
            </tr>
            <tr>
                <td>@Localizer["Divorce Date"]</td>
                <td>: #: $.toDefault(Object.DivorceDate, '-') #</td>
            </tr>
        </tbody>
    </table>
    <hr />
</script>